main {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';

    background-color: transparent;
    border: none;
}

    .material-icons.md-light {
        color: white;
        color: rgba(255, 255, 255, 1);
    }

.panel {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.875rem 1.25rem;
    width: 100%;
}

@media (min-width: 768px) {
    main {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
