<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Pi Lights</title>
    <partial name="_Stylesheets" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pi Lights</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Configuration" asp-action="Index" class="nav-link">Configuration</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline mt-2 mt-md-0" id="powerForm" method="post" asp-controller="Power" asp-action="Shutdown">
                @Html.AntiForgeryToken()
                <button class="material-icons md-light nav-link power-off-button" style="display:none" data-toggle="modal" data-target="#powerOffModal" type="button">power_settings_new</button>
                <button class="material-icons md-dark nav-link power-on-button" style="display:none" data-toggle="modal" data-target="#powerOnModal" type="button">power_settings_new</button>
            </form>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <partial name="_Scripts" />
    <partial name="_PowerModal" />
    @RenderSection("Scripts", required: false)
</body>
</html>
