@model PiLights.Configuration.LedSettings

@{
    ViewData["Title"] = "Configuration";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Current Configuration Settings</h1>
            <p>Change settings by modifying <code>appsettings.json</code> or setting configuration environment variables like <code>WS281X__PORT</code>.</p>
            <fieldset class="panel border rounded">
                @Html.DisplayForModel()
            </fieldset>
        </div>
    </div>
</div>
