@model GlobalConfigurationSettings

@{
    ViewData["Title"] = "Configuration";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Global Configuration Settings</h1>
            <form asp-controller="configuration" asp-action="Index" method="post">
                <fieldset class="panel">
                    @Html.EditorForModel()
                    <div class="form-group">
                        <button type="submit" name="save" id="save" data-clear-alerts="true" class="btn btn-primary">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
