@{
    ViewData["Title"] = "Home Page";
}

<div class="content-area__content">
    <h1 class="section-title">Pi Lights</h1>
    <form id="scene" asp-controller="home" asp-action="StartScene" method="post">
        <fieldset class="panel">
            <alerts></alerts>
            <div class="form-group">
                <label>
                    <span class="label">Scene</span>
                    <span>
                        <select id="sceneName" name="sceneName" asp-items="this.ViewBag.Scenes" class="control" autocomplete="off" autofocus="autofocus">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </span>
                </label>
            </div>
            <div id="sceneProperties" style="display:none;"></div>
        </fieldset>
    </form>
</div>

@section scripts
{
    <script>
        $('#sceneName').change(function () {
            $("div[role='alert']").hide();
            var selected = $(this).val();
            var postData = {
                sceneName: selected
            };
            $.ajax({
                url: '/Home/SceneProperties',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "html",
                data: postData
            })
            .done(function (result) {
                $('#sceneProperties').html(result);
                $('#sceneProperties').fadeIn('fast');
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            }); 
            
        });

        $(document).on("click", "#start", function () {
            $(this).prop("disabled", true);
            $(this).addClass("disabled");
            $("#scene").submit();
        });
    </script>
}
