@using System.Reflection;
@using PiLights.Scenes;
@model Scene

<input hidden="hidden" name="sceneName" value="@Model.GetType().FullName" />

@Html.EditorForModel()
<div class="form-group">
    <button type="submit" name="start" id="start" data-clear-alerts="true" class="btn btn-primary">Apply</button>
</div>